nav {
  display: flex;
  flex-direction: row;
  padding: 1em 0;
  flex-wrap: wrap;
  gap: 1em;

  .nav-link {
    background-color: #424242;
    color: white;
    min-width: 150px;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1;
    flex: 1;
    text-align: center;
    border-radius: 4px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    text-decoration: none;
  }
}
